html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  height: 100%;
  background: linear-gradient(125deg, #fff, #efefef 41%, #fff 41%, #efefef);
}

#root {
  text-align: center;
  margin-top: 20px;
}

#root > h2 {
  color: #3baaf4;
}

#root > img {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

#root > .box {
  display: flex;
}
